{% extends "shop/base.html" %}
{% load static %}

{% block content %}

	<div class="hero-wrap hero-bread"
		 style="background-image: url({% static 'shop/img/bg_1.jpg' %});">
	</div>

	<section class="ftco-section ftco-no-pb ftco-no-pt py-2 my-4">
		<div class="container">
			<div class="row">
				<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center
				 align-items-center"
					 style="background-image: url({% static 'shop/img/about.jpg' %});">
					<a href="https://vimeo.com/45830194"
					   class="icon popup-vimeo d-flex justify-content-center align-items-center">
						<span class="icon-play"></span>
					</a>
				</div>
				<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
					<div class="heading-section-bold mb-4 mt-md-5">
						<div class="ml-md-0">
							<h2 class="mb-4">Witaj w Warzywniaku</h2>
						</div>
					</div>
					<div class="pb-md-5">
						<h4>Dbasz o zdrowie swoje i swoich najbliższych? Cenisz sobie
							towary z wiarygodnego źródła o niepowtarzalnym smaku?</h4>
						<p>Jesteśmy firmą z Krakowa. Od wielu lat zbieraliśmy niezbędne
							doświadczenie w handlu warzywami i owocami dostarczając
							produkty do krakowskich restauracji.</p>
						<p>Teraz każdy może skorzystać z naszej oferty. Co nas wyróżnia?</p>
						<ul>
							<li>cena - unikamy pośredników przy zakupie produktów</li>
							<li>dostawa – wszystkie dostawy są realizowane bezpośrednio do
								klienta pod wskazany adres (powyżej 200 zł bezpłatnie)</li>
							<li>polski produkt – wszystkie produkty są od polskiego producenta, dzięki czemu wspieramy polski kapitał</li>
						</ul>
						<p><a href="#" class="btn btn-primary">Shop now</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row no-gutters ftco-services">
				<div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services mb-md-0 mb-4">
						<div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
							<span class="flaticon-shipped"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Darmowa dostawa</h3>
							<span>dla zamówienie powyżej 200PLN</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services mb-md-0 mb-4">
						<div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
							<span class="flaticon-diet"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Świeżość</h3>
							<span>Odpowiednie przechowywanie</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services mb-md-0 mb-4">
						<div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
							<span class="flaticon-award"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Najwyższa jakość</h3>
							<span>Odpowiednie przechowywanie</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services mb-md-0 mb-4">
						<div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
							<span class="flaticon-customer-service"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Łatwy kontakt</h3>
							<span>Szybka dostępność</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}