{% extends "shop/base.html" %}

{% load static %}

{% block content %}

	<div class="hero-wrap hero-bread"
		 style="background-image: url({% static 'shop/img/bg_1.jpg' %});">
	</div>

	<section class="ftco-section ftco-cart">
		<div class="container">
			<div class="row">

				<div class="col-md-8 ftco-animate">
					<div class="cart-list">
						<table class="table">
							<thead class="thead-primary">
							<tr class="text-center">
								<th>Usuń</th>
								<th>Produkt</th>
								<th>Cena</th>
								<th>Ilość</th>
								<th>Suma</th>
							</tr>
							</thead>
{# List cart items							#}
							<tbody>
								{% if not empty %}
									{% for item in cart.cartitem_set.all %}
										{% include 'shop/pages/cart_product.html' %}
									{% endfor %}
								{% else %}
									<tr class="text-center">
										<td colspan="6" span=6>{{ messages }}</td>
									</tr>
								{% endif %}

							</tbody>
						</table>
					</div>
				</div>

				<div class="col-lg-4 mt-5 cart-wrap ftco-animate text-center">
					<div class="cart-total mb-3 text-center">
						<h3>Podsumowanie</h3>
						<p class="d-flex">
							<span>Produkty</span>
							<span>
								{%  if cart.products_total %}
									{{ cart.products_total }} zł
								{% else %}
									0 zł
								{% endif %}
							</span>
						</p>
						<p class="d-flex">
							<span>Dostawa</span>
							<span>
								{%  if cart.delivery_cost %}
									{{ cart.delivery_cost }} zł
								{% else %}
									0 zł
								{% endif %}
							</span>
						</p>
						<hr>
						<p class="d-flex total-price">
							<span>Total</span>
							<span>
								{%  if cart.cart_total %}
									{{ cart.cart_total }} zł
								{% else %}
									0 zł
								{% endif %}
							</span>
						</p>
					</div>
					<p><a href="{% url 'shop:checkout' %}"
						  class="btn btn-primary py-3 px-4">Zamów i zapłać</a></p>
				</div>
			</div>
		</div>
	</section>

{% endblock %}