{% extends "shop/base.html" %}

{% load static %}

{% block content %}

	<div class="hero-wrap hero-bread"
		 style="background-image: url({% static 'shop/img/bg_1.jpg' %});">
	</div>

	<section class="ftco-section ftco-cart">
		<div class="container">
			<div class="row">

				<div class="col-md-8 ftco-animate">
					<div class="cart-list">
						<table class="table">
							<thead class="thead-primary">
							<tr class="text-center">
								<th>&nbsp;</th>
								<th>Produkt</th>
								<th>Cena</th>
								<th>Ilość</th>
								<th>Suma</th>
							</tr>
							</thead>
{# List cart items							#}
							<tbody>
								{% if not empty %}
									{% for item in cart.cartitem_set.all %}
										{% include 'shop/pages/cart_product.html' %}
									{% endfor %}
								{% else %}
									<tr class="text-center">
										<td colspan="6" span=6>{{ messages }}</td>
									</tr>
								{% endif %}

							</tbody>
						</table>
					</div>
				</div>

				<div class="col-lg-4 mt-5 cart-wrap ftco-animate text-center">
					<div class="cart-total mb-3 text-center">
						<h3>Podsumowanie</h3>
						<p class="d-flex">
							<span>Produkty</span>
							<span>
								{%  if cart.products_total %}
									{{ cart.products_total }} PLN
								{% else %}
									0 PLN
								{% endif %}
							</span>
						</p>
						<p class="d-flex">
							<span>Dostawa</span>
							<span>
								{%  if cart.delivery_cost %}
									{{ cart.delivery_cost }} PLN
								{% else %}
									0 PLN
								{% endif %}
							</span>
						</p>
						<hr>
						<p class="d-flex total-price">
							<span>Total</span>
							<span>
								{%  if cart.cart_total %}
									{{ cart.cart_total }} PLN
								{% else %}
									0 PLN
								{% endif %}
							</span>
						</p>
					</div>
					<p><a href="{% url 'shop:checkout' %}"
						  class="btn btn-primary py-3 px-4">Zamów i zapłać</a></p>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
		<div class="container py-4">
			<div class="row d-flex justify-content-center py-5">
				<div class="col-md-6">
					<h2 style="font-size: 22px;" class="mb-0">Subcribe to our
						Newsletter</h2>
					<span>Get e-mail updates about our latest shops and special offers</span>
				</div>
				<div class="col-md-6 d-flex align-items-center">
					<form action="#" class="subscribe-form">
						<div class="form-group d-flex">
							<input type="text" class="form-control"
								   placeholder="Enter email address">
							<input type="submit" value="Subscribe"
								   class="submit px-3">
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<script>
		$(document).ready(function(){
		var quantity=0;
		   $('.quantity-right-plus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());

		        // If is not undefined
		            $('#quantity').val(quantity + 1);
		            // Increment
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());

		        // If is not undefined
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		});
	</script>

{% endblock %}