{% load static %}

<tr class="text-center">
	<td class="product-remove">
		<a href="{% url 'shop:carts:remove_from_cart' item.id %}">
			<span class="ion-ios-close"></span>
		</a>
	</td>
	<td class="product-name align-middle">
		<h3 class="m-0">{{ item.product.name }}</h3>
	</td>

	<td class="price">{{ item.product.price_gross }} zł/{{item.product.get_min_qty_info_display }}</td>

	<td class="quantity">
			<p class="w-100 text-center m-0">
				{{ item.quantity }} {{ item.product.get_min_qty_info_display }}
			</p>
	</td>

	<td class="total">{{ item.line_total }} zł</td>
</tr>