{% extends "shop/base.html" %}
{% load static %}

{% block content %}

	<div class="hero-wrap hero-bread"
	     style="background-image: url({% static 'shop/img/bg_1.jpg' %});">
	</div>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 mb-5 text-center">
					<ul class="product-category">
						<li><a href="{% url 'shop:shop' %}" class="filter-products active">Wszystkie</a></li>
						<li><a href="{% url 'shop:vegetables' %}" class="filter-products">Warzywa</a></li>
						<li><a href="{% url 'shop:fruits' %}" class="filter-products">Owoce</a></li>
						<li><a href="{% url 'shop:spices' %}" class="filter-products">Przyprawy</a></li>
						<li><a href="{% url 'shop:others' %}" class="filter-products">Inne</a></li>
					</ul>
				</div>
			</div>

			{# List all active products#}
			<div class="row">
				{% for product in products %}
					{% if product.active %}
						{% include 'shop/pages/shop_product.html' %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>

{% endblock %}