{% load static %}

<div class="col-12 col-md-3 col-lg-2 ftco-animate p-2"
     id="product-section-ajax">
	<div class="product h-100 d-flex flex-column mb-0">
		<div class="img-prod d-flex justify-content-center" style="overflow: visible;">
			<img class="img-fluid p-3"
			     src="{% if product.image %}{{ product.image.url }}
								{% else %}{% static 'shop/img/ProductNA.png' %}{% endif %}"
			     alt="{{ product.name }}">
			<div class="overlay"></div>
		</div>
		<div class="text text-center d-flex h-100">
			<div class="d-flex flex-column w-100 justify-content-between">
				<div>
					<h3>{{ product.name }}</h3>
					<p>{% if product.description %}{{ product.description }}{% endif %}</p>
				</div>
				<div class="d-flex pb-4">
					<div class="pricing">
						<p class="price">
							<span>{{ product.price_gross }} zł/{{ product.get_min_qty_info_display }}</span>
						</p>
					</div>
				</div>
			</div>

			<div class="bottom-area d-flex px-1">
				<div class="m-auto w-100">
					<form method="POST" action="{% url 'shop:add_to_cart' product.id %}"
					      class="d-flex align-items-center justify-content-center"
								id="add-product-to-cart-form">
						{% csrf_token %}
						<div class="d-flex align-items-center justify-content-start pr-2">
							<input type="number" name="qty"
							       id="input-product{{ product.id }}"
							       class="quantity input-number py-0"
							       value="{{ product.min_qty_value }}"
							       min="{{ product.min_qty_value }}"
							       max="500"
							       step="{{ product.min_qty_value }}"
							       style="padding: 0 0 0 10px; border-radius: 4px;
						              border: 1px solid black; width: 70px">
							<p class="mb-0 pl-1 price">
								{{ product.get_min_qty_info_display }}
							</p>
						</div>
						<button type="submit" style="border-radius: 4px;
																					background: #82ae46;
																					border: none"
						        data-product-id="{{ product.id }}"
						        class="add-product-to-cart">
							<span><i class="ion-ios-cart" style="color: white"></i></span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>