{% extends "shop/base.html" %}
{% load static %}

{% block content %}

	<div class="hero-wrap hero-bread"
	     style="background-image: url({% static 'shop/img/bg_1.jpg' %});">
	</div>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 mb-5 text-center">
					<ul class="product-category pl-0">
						<li>
							<form method="GET" class="filter-products">
								<input type="submit" value="Wszystkie" name="q">
							</form>
						</li>
						<li>
							<form method="GET" class="filter-products">
								<input type="submit" value="Warzywa" name="q">
							</form>
						</li>
						<li>
							<form method="GET" class="filter-products">
								<input type="submit" value="Owoce" name="q">
							</form>
						</li>
						<li>
							<form method="GET" class="filter-products">
								<input type="submit" value="Przyprawy" name="q">
							</form>
						</li>
						<li>
							<form method="GET" class="filter-products">
								<input type="submit" value="Inne" name="q">
							</form>
						</li>
					</ul>
				</div>
			</div>

<!--Modal box for product add confirmation -->
			<div class="row">
				<div class="col">
					<div class="modal fade" id="modal-add-product-to-cart"
					     role="dialog" tabindex="-1" aria-labelledby="ProductAddedToCart"
					     aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-sm">
							<div class="modal-content">
								<div class="modal-header mx-auto border-bottom-0">
									<h6>Dodano: </h6>
								</div>
								<div class="modal-body mx-auto">
									<h5></h5>
								</div>
								<div class="modal-footer mx-auto border-top-0">
									<button type="button" class="btn btn-primary" data-dismiss="modal">
										Zamknij
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

<!--List all active products -->
			<div class="row">
				{% for product in products %}
					{% if product.active %}
						{% include 'shop/pages/shop_product.html' %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>

{% endblock %}