{% extends "admin/base.html" %}

{% block title %} Warzywniak | Zarządzaj sklepem {% endblock %}


{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Zarządzaj sklepem</a></h1>
{% endblock %}


{#{% block welcome-msg %}#}
{#    Witaj <strong>{% firstof user.get_short_name user.get_username %}</strong>.#}
{#{% endblock %}#}

{##}
{#{% block userlinks %}#}
{#    {% if user.has_usable_password %}#}
{#    <a href="{% url 'admin:password_change' %}">Zmień hasło</a> /#}
{#    {% endif %}#}
{#    <a href="{% url 'admin:logout' %}">Wyloguj</a>#}
{#{% endblock %}#}
{##}
{##}
{#{% block messages %}#}
{#    {% if messages %}#}
{#    <ul class="messagelist">{% for message in messages %}#}
{#      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>#}
{#    {% endfor %}</ul>#}
{#    {% endif %}#}
{#{% endblock messages %}#}